include _nav
include _footer

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= title
        block css
            link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.css')
            link(rel='stylesheet', href='/css/style.css')
            link(rel="stylesheet", href="/css/font-awesome.css")
        block AdditionalCss
    body
        block Navigation
            +nav()
        block content
        block Footer
            +footer()

        block js
            script(src='/libs/jquery/dist/jquery.min.js')
            script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
        block AdditionalJS