mixin nav()

    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .brand-centered
                    a.navbar-brand(href='/')
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-left
                    li
                        a(href='/')
                            span.glyphicon.glyphicon-home
                            |  Home

                    li
                        a(href='/users')
                            span.glyphicon.glyphicon-globe
                            |  Users
                    if loggedIn
                        li
                            a(href='/gallery')
                                span.glyphicon.glyphicon-picture
                                |  Gallery
                ul.nav.navbar-nav.navbar-right
                    if loggedIn
                        li
                            a(href='/chat')
                                span.glyphicon.glyphicon-envelope
                                |  Chat
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                span#span-slipped.glyphicon.glyphicon-triangle-left
                                span.glyphicon.glyphicon-triangle-right
                                span#usrname=user.name
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/users/' + user._id)
                                        span.glyphicon.glyphicon-user
                                        |	&nbsp;&nbsp;View my Profile

                                li
                                    a(href='/myphotos')
                                        span.glyphicon.glyphicon-picture
                                        |	&nbsp;&nbsp;My photos
                                    
                                li
                                    a(href='/myFavourites')
                                        span.glyphicon.glyphicon-star-empty
                                        |	&nbsp;&nbsp;My favourites
                                li.divider(role='separator')
                                li
                                    a(href='/logout')
                                        span.glyphicon.glyphicon-off
                                        |	&nbsp;&nbsp;Log out
                    else
                        li
                            a(href='/login')
                                span.glyphicon.glyphicon-log-in
                                |  &nbsp;Log in / Sign up

            // /.nav-collapse




