mixin nav()
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
                //TODO - fix the logo
            img.navbar-brand(src='/images/shareLogo.png')
            a.navbar-brand(href='/') Home
            a.navbar-brand(href='/users') Profiles
            a.navbar-brand(href='/about') About
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                .row
                    .pull-right
                        ul.nav.navbar-nav
                            li
                                a#login-button(href='/login') Log in / Sign up
                        
