mixin nav()

    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .brand-centered
                    a.navbar-brand(href='/')
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-left
                    li
                        a(href='/') Home                
                    li
                        a(href='/users') Users
                    if loggedIn
                        li
                            a(href='/gallery') Gallery
                ul.nav.navbar-nav.navbar-right
                    if loggedIn
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                |&diams; 
                                =user.name
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/users/' + user._id) View my Profile
                                li
                                    a(href='/') My photos
                                li
                                    a(href='/') My favorites
                                li.divider(role='separator')
                                li
                                    a(href='/logout') Log out
                    else
                        li
                            a(href='/login')
                                | Log in / Sign up

            // /.nav-collapse




