mixin nav()
    // Fixed navbar
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                //TODO FIX THE LOGO
                a(href='/')
                    img.navbar-brand.topleft(src='/images/shareLogo.png', alt='SHARE')
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') Home
                    li
                        a(href='/users') Users
                    li
                        a(href='/about') About
                ul.nav.navbar-nav.navbar-right
                    if loggedIn
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                | My Profile
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/users/') View my Profile
                                li
                                    a(href='/') My photos
                                li
                                    a(href='/') My favorites
                                li.divider(role='separator')
                                li
                                    a(href='/') Log out
                    else
                        li
                            a(href='/login')
                                | Log in / Sign up

            // /.nav-collapse




