html {
  height: 100%;
}
body {
  min-height: 100%;
}

body{
    display:block;
    background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(249,249,249,0.52) 1%,
    rgba(249,249,249,0.46) 36%, rgba(237,237,237,0.45) 42%, rgba(224,224,224,0.44) 46%,
    rgba(221,221,221,0.44) 47%, rgba(211,211,211,0.48) 51%, rgba(206,206,206,0.53) 56%,
    rgba(204,204,204,0.56) 59%, rgba(191,191,191,0.6) 63%, rgba(188,188,188,0.64) 67%,
    rgba(155,155,155,0.73) 75%, rgba(132,132,132,0.81) 82%, rgba(102,102,102,0.86) 87%,
    rgba(17,17,17,0.98) 98%, rgba(28,28,28,1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%,rgba(249,249,249,0.52) 1%,
    rgba(249,249,249,0.46) 36%,rgba(237,237,237,0.45) 42%,rgba(224,224,224,0.44) 46%,
    rgba(221,221,221,0.44) 47%,rgba(211,211,211,0.48) 51%,rgba(206,206,206,0.53) 56%,
    rgba(204,204,204,0.56) 59%,rgba(191,191,191,0.6) 63%,rgba(188,188,188,0.64) 67%,
    rgba(155,155,155,0.73) 75%,rgba(132,132,132,0.81) 82%,rgba(102,102,102,0.86) 87%,
    rgba(17,17,17,0.98) 98%,rgba(28,28,28,1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(249,249,249,0.52) 1%,
    rgba(249,249,249,0.46) 36%,rgba(237,237,237,0.45) 42%,rgba(224,224,224,0.44) 46%,
    rgba(221,221,221,0.44) 47%,rgba(211,211,211,0.48) 51%,rgba(206,206,206,0.53) 56%,
    rgba(204,204,204,0.56) 59%,rgba(191,191,191,0.6) 63%,rgba(188,188,188,0.64) 67%,
    rgba(155,155,155,0.73) 75%,rgba(132,132,132,0.81) 82%,rgba(102,102,102,0.86) 87%,
    rgba(17,17,17,0.98) 98%,rgba(28,28,28,1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
figure {
    justify-content: center;
    align-content: center;

}

svg {
    width: 11%;
    height: 5%;
}

svg > * {
    fill: #1C1C1C;
    stroke: #1C1C1C;
    stroke-width: 1px;
}
svg:not(:root) {
    overflow: visible;
    display:block;
}

figure {
        width: 90%;
        margin-top:25%;
        margin-left: 5%;
        margin-right: 5%;
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

/* hover tip */
body:hover:after {
    content: "Hover the Logo to Slow Motion";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15vh;
    color: #1C1C1C;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font: 700 9px/14px Tahoma, sans-serif;
    -moz-animation: tip 3.5s forwards;
    -webkit-animation: tip 3.5s forwards;
    animation: tip 3.5s forwards;
}
.p-style-continue{
    margin-top: 5%;
    text-decoration: none;
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font: 700 9px/14px Tahoma, sans-serif;
    -moz-animation: tip 3.5s forwards;
    -webkit-animation: tip 3.5s forwards;
    animation: tip 3.5s forwards;
}

.p-style-introduction{
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: Tahoma, sans-serif;
    font-size: 3vmin;
    font-weight: 900;
    opacity: 0;
    text-shadow: 1px 1px rgba(0,0,0, 0.7);
} 
a:hover {
    text-decoration: none;
}

@-moz-keyframes tip {
    0%, 100% {
        opacity: 0;
    }
    10%, 80% {
        opacity: 1;
    }
}

@-webkit-keyframes tip {
    0%, 100% {
        opacity: 0;
    }
    10%, 80% {
        opacity: 1;
    }
}

@keyframes tip {
    0%, 100% {
        opacity: 0;
    }
    10%, 80% {
        opacity: 1;
    }
}
