/* Гизи така не ли е по-яко? Д; */

.main.container a {
    font-size: large;
    color: black ;
    /*text-decoration: none;*/
    text-align: center;
}
/*.main.container a:hover {
    font-weight: bold;
    color:darkslategray;
}*/

.main.container h1{
    font-weight: bold;
}
