.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: gainsboro;
    border: 1px solid black;
    border-radius: 2px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.caption {
    padding: 2px;
    color: #333;
    text-align: center;
}
.row:after{
  display: none;
}
.thumbnail > img {
    height: 233px;
}
#search-for-users {
    padding-left: 40px;
}
