extends ../shared/_layout

block css
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/users.css')

block content
    .container
        .row.col-sm-6.col-md-offset-4
            form#search-for-users.navbar-form(action='/users', method='POST')
                p.form-group
                    input#searchField.form-control(type='text', name='searchedUser' placeholder='Search User By Name', value=lastInput)
                p.form-group
                    input#searchButton.btn.btn-default.black-background.white(type='submit', value='Search')
        each user in context
            .row
                .col-sm-6.col-md-4
                    .thumbnail
                        img(src='/uploads/' + user.stringProfilePicture, alt='Profile picture')
                        .caption
                            h3
                                strong
                                    =user.name
                            if loggedIn
                                a.btn.btn-default.black-background.white(href='/users/' + user._id, role='button') View Profile

