extends ../shared/_layout

block content
    != messages()

    .container
        h1 Profile of:
        =context.name
        h2 Image:
        img.img-responsive(src='/uploads/' + context.stringProfilePicture, alt='Profile picture')
        if context._id.toString() === currentUserId
            form#profile-picture-form(method='post', enctype='multipart/form-data')
                label.btn.btn-default.black-background.white(for="profile-picture") Update profile picture
                input#profile-picture(type='file', name='imageupload', style='display:none', accept='image/*')
            a.btn.btn-default.black-background.white(href='/createPost') Create Post
        h2 Email:
        =context.email

block AdditionalJS
    script(src="/js/uploadImagesEvent.js")