extends ../shared/_layout

block AdditionalCss
    link(rel='stylesheet', href='/css/profile.css')
block content
    != messages()

    .container
        .profile
            img(src='/uploads/' + context.stringProfilePicture, alt='Profile picture')
            p.photos-counter
                |Photos:&nbsp;
                =posts.length
            h1 
                strong#username
                    =context.name
            p.email
                =context.email
            if context._id.toString() === currentUserId
                form#profile-picture-form(method='post', enctype='multipart/form-data')
                    label.btn.btn-default.black-background.white(for="profile-picture")
                        span.glyphicon.glyphicon-folder-open
                        |&nbsp;&nbsp;Update profile picture
                    input#profile-picture(type='file', name='imageupload', style='display:none', accept='image/*')
                a.btn.btn-default.black-background.white(href='/createPost') Create Post
            else
                a.btn.btn-default.black-background.white

        #myCarousel.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
                each post, index in posts
                    if (index < 131)
                        if (index === 0)
                            li.active(data-target='#myCarousel', data-slide-to=index)
                        else
                            li(data-target='#myCarousel', data-slide-to=index)
            // Wrapper for slides
            .carousel-inner
                each post, index in posts
                    if (index === 0)
                        .item.active
                            img(src='/uploads/' + post.picture, alt=post.picture)
                    else
                        .item
                            img(src='/uploads/' + post.picture, alt=post.picture)

            // Left and right controls
            a.left.carousel-control(href='#myCarousel', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left
                span.sr-only Previous
            a.right.carousel-control(href='#myCarousel', data-slide='next')
                span.glyphicon.glyphicon-chevron-right
                span.sr-only Next


block AdditionalJS
    script(src="/js/uploadImagesEvent.js")
