extends ../shared/_layout

block AdditionalCss
    link(rel="stylesheet", href='/css/login-register.css')

block content
    != messages()

    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Register

                form(method='POST' action='/register')
                    p.form-group
                        label(for='username') Username:
                        input#username.form-control(type='text', placeholder='Username' name='name' required)
                    p.form-group
                        label(for='email') Email:
                        input#email.form-control(type='email', placeholder='Email' name='email' required)
                    p.form-group
                        label(for='pw') Password:
                        input#pw.form-control(type='password' placeholder='Password' name='password' required)
                    p.form-group
                        label(for='pw2') Confirm Password:
                        input#pw2.form-control(type='password' placeholder='Confirm Password' name='confirmPassword' required)    
                    p.form-group
                        input#register-submit.btn.btn-primary.black-background.white(type='submit', value='Register')
                    p
                        a(href='/login') You have already an account? Click here to Sign in!
