extends ../shared/_layout

block content
    != messages()

    .container
        form#profile-picture-form(method='post', enctype='multipart/form-data' action='/showPicture')
            label(for='profile-picture')
                img(src='uploads/' + image, alt='Upload picture')
            input#profile-picture(type='file', name='imageupload', style='display:none', accept='image/*')

        form( method='POST', enctype='multipart/form-data' action='/createPost')
            textarea.form-group(rows="4" cols="50" name="description" placeholder='Write a description...')
            label.btn.btn-default.black-background.white(for="postit")
                span.glyphicon.glyphicon-globe
                |&nbsp;&nbsp;Post
            input#postit.form-group(type='submit', name='uploadimage', style='display:none')

block AdditionalJS
    script(src="/js/uploadImagesEvent.js")