extends ../shared/_layout

block content
    .container
        each post in context
            .row
                .col-sm-6.col-md-4
                    .thumbnail
                        p= moment(parseInt(post.picture)).fromNow()
                        img(src='/uploads/' + post.picture, alt='Profile picture')
                        .caption
                            h3
                                strong
                                    =post.author
                            p
                                =post.description
                            a.btn.btn-default.black-background.white(href='/addToFavourites/' + post._id, role='button') add to favourites