extends ../shared/_layout

block AdditionalCss
    link(rel='stylesheet', href='/css/gallery.css')

block content
    .container
        each post in context
            .row
                .col-md-6.col-md-offset-3
                    .thumbnail
                        p= moment(parseInt(post.picture)).fromNow()
                        img(src='/uploads/' + post.picture, alt='Profile picture')
                        .caption
                            h3
                                strong
                                    a(href='users/'+ post.author._id)=post.author.name
                                .float-right(data-post-id=post._id)
                                    span.counter-likes
                                        =post.likes
                                    if post.isLiked
                                        img.like.like-dislike-btn(src='/images/like-btn.png', alt='like', style="display:none;")
                                        img.liked.like-dislike-btn(src='/images/liked-btn.png', alt='liked')
                                    else
                                        img.like.like-dislike-btn(src='/images/like-btn.png', alt='like')
                                        img.liked.like-dislike-btn(src='/images/liked-btn.png', alt='liked', style="display:none;")
                                    if post.isDisliked
                                        img.dislike.like-dislike-btn(src='/images/dislike-btn.png', alt='dislike', style="display:none;")
                                        img.disliked.like-dislike-btn(src='/images/disliked-btn.png', alt='disliked')
                                    else
                                        img.dislike.like-dislike-btn(src='/images/dislike-btn.png', alt='dislike')
                                        img.disliked.like-dislike-btn(src='/images/disliked-btn.png', alt='disliked', style="display:none;")
                                    span.counter-dislikes
                                        =post.dislikes
                            p
                                =post.description
                            a.btn.btn-default.black-background.white()
                                span.glyphicon.glyphicon-plus
                                |  Add to Favs

block AdditionalJS
    script(src="/js/likes-btns.js")