extends ../shared/_layout

block content
    .container
        each post in context
            .row
                .col-sm-6.col-md-4
                    .thumbnail
                        img(src='/uploads/' + post.picture, alt='Profile picture')
                        .caption
                            h3
                                strong
                                    =post.author
                            p
                                =post.description




