extends ../shared/_layout

block content
    .container
        each post in context
            .row
                .col-sm-6.col-md-4
                    .thumbnail
                        p= moment(parseInt(post.picture)).fromNow()
                        img(src='/uploads/' + post.picture, alt='Profile picture')
                        .caption
                            h3
                                strong
                                    =post.author
                            p
                                =post.description
                            if isDelete
                                a.btn.btn-default.black-background.white(href='/deleteFromFavorites/' + post._id, role='button')
                                    span.glyphicon.glyphicon-trash
                                    |  Delete from Favs
                            else
                                a.btn.btn-default.black-background.white(href='/addToFavorites/' + post._id, role='button')
                                    span.glyphicon.glyphicon-plus
                                    |  Add to Favs