doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= title
        block css
            link(rel='stylesheet', href='/css/style.css')
            link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.css')
        block js
    body
        //TODO - delete - Just for testing 
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            img.navbar-brand#logo(src='/static/img/logo.png')
            a.navbar-brand(href='/home') Home
            a.navbar-brand(href='/auctions') All Auctions
            a.navbar-brand(href='/auctions/gallery') Gallery
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                .row
                    .pull-right
                        ul.nav.navbar-nav
                            li
                                a#login-button(href='/login') Log in / Sign up
        block content